html, body {
    background-color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body * {
    flex: 1;
    /* max-width: 700px; */
}

/* header */

header {
    background-color: #1F2937;
    flex-grow: 0;
    display: flex;
    align-items: center;
}

header * {
    color: #F9FAF8;
    list-style-type: none;
    text-decoration: none;
}

header .logo {
    font-weight: bolder;
}

header .nav {
    font-size: 12px;
    display: flex;
}

/* hero */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero .image {
    background-color: grey;
}

/* grid-info */

.grid-info h2 {
    text-align: center;
}

.grid-info .container {
    display: flex;
    justify-content: center;
}

.grid-info .image{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}

/* quote */

.quote {
    background-color: rgb(255, 179, 179);
}

/* call-to-action */

.call-to-action {
    background-color: rgb(255, 144, 144);
}

/* footer */

footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 0;
}